@import "tailwindcss";

:root {
  --background: #DAE5E6;
  --foreground: #171717;
  --primary: #2563eb;
  --secondary: #9333ea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  body {
    @apply font-sans bg-background text-foreground;
  }
  h1, h2, h3 {
    @apply font-serif text-foreground font-bold;
  }
  a {
    @apply text-primary hover:text-secondary transition;
  }
}

@layer components {
  .hero-title{
    @apply font-bold text-center my-[5vw] mx-[10vw];
    font-size: clamp(2.5rem, 5vw, 6rem);
    line-height: clamp(2.5rem, 6vw, 6rem);
  }
}