@import "tailwindcss";

:root {
  --background: #DAE5E6;
  --foreground: #171717;
  --primary: #2563eb;
  --secondary: #9333ea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  body {
    @apply font-sans bg-background text-foreground;
  }
  h1, h2, h3 {
    @apply font-serif text-foreground font-bold;
  }
  a {
    @apply text-primary hover:text-secondary transition;
  }
}

@layer components {

  .a-link{
    @apply p-3 text-gray-700 dark:text-gray-300 hover:text-indigo-600 hover:underline dark:hover:text-indigo-400 dark:hover:underline transition;
  }
  .a-link-light{
    @apply p-3 text-white hover:text-indigo-600 hover:underline dark:hover:text-indigo-400 dark:hover:underline transition;
  }
  .hero-title{
    @apply font-bold text-center my-[5vw] mx-[10vw];
    font-size: clamp(2.5rem, 5vw, 5.8rem);
    line-height: clamp(2.5rem, 6vw, 7.5rem);
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .button-normal{
    @apply px-4 py-2 text-white rounded-md hover:opacity-95 transition;
  }

  .button-solid{
    @apply px-4 py-2 bg-indigo-600 text-white rounded-md hover:opacity-95 transition;
  }

  .button-outline{
    @apply px-4 py-2 rounded-md border border-indigo-500 text-indigo-600 hover:bg-indigo-50 dark:hover:bg-indigo-900/20 transition;
  }
}
